.container {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.card {
    width: 400px;
    height: 500px;
}

.white {
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #282c34;
}

.green {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
}

.button {
    color: white;
    background-color: #2fe0b5;
    border: none;
    width: 100px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sign-up {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sign-in {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sign-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sign-title-padding {
    padding: 0px 20px 0px 20px;
}

.form {
    display: flex;
    flex-direction: column;
}