.TopBox {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1
}

.link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.mobile-link {
    color: black;
    text-decoration: none;
}

@keyframes inAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  
@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}