.picks {
    margin-top: 64px;
    width: 50%;
    border-radius: 50px;
background: linear-gradient(145deg, #2b2f38, #24282f);
box-shadow:  20px 20px 60px #22252c,
             -20px -20px 60px #2e333c;
}

.hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #d4d4d4, #d4d4d4, #d4d4d4);
}